<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Delete Address</title>

        <!-- <link rel="stylesheet" href="styles.css"> -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>

    <body>
        <main>
            <h1>Confirm Address Deletion</h1>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Line 1</th>
                        <th>Line 2</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Zip</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="addressID" th:text="${address.addressID}"></td>
                        <td th:text="${address.addressLine1}"></td>
                        <td th:text="${address.addressLine2}"></td>
                        <td th:text="${address.city}"></td>
                        <td th:text="${address.stateAbbreviation}"></td>
                        <td th:text="${address.zip}"></td>
                    </tr>
                </tbody>
            </table>

            <br>
            <p>Are you sure you want to delete this address?</p>
            <div id="pre">
                <button id="confirm">Yes</button>
                <button onclick="window.location.href='/Address/'">No</button>
            </div>
            <div id="post">
                <p>Address successfully deleted.</p>
                <button onclick="window.location.href='/Address/'">Return to list of addresses</button>

            </div>
        </main>
        <script>
            const button = document.getElementById("confirm");
            button.addEventListener("click", deleteAddress);

            const pre=document.getElementById("pre");
            const post=document.getElementById("post");

            post.hidden=true;

            function deleteAddress(event) {
                event.preventDefault();

                fetch("/Address/delete/" + document.getElementById("addressID").innerText, {
                    method: "DELETE",
                    headers: { "Content-Type": "application/json" },
                })
                .then(function(response){
                //    return response.json();
                //}).then(function(data){
                    //console.log(data);

                    pre.hidden=true;
                    post.hidden=false;
                });
            }

        </script>
    </body>

</html>