<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Superhero Sightings</title>

        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        <main>
            <h1>Superhero Sightings Homepage</h1>
            <button onclick="window.location.href='/heroes'">Heroes</button>
            <button onclick="window.location.href='/Location/'">Locations</button>
            <button onclick="window.location.href='/Sighting/'">Sightings</button>
            <button onclick="window.location.href='/Organization/'">Organizations</button>
            <button onclick="window.location.href='/Address/'">Addresses</button>
        </main>
    </body>

</html>